#sarala {
    display: flex;
   
   
    background-color: rgb(180, 173, 165);
   
 }
 #sarala img{
  margin: 10px;
  width: 50px;
  border-radius:31px;
  height: 60px;
 }
 ul{
  display: flex;
  padding-left: 20pc;
  padding-top: 18px;
  padding-right: 4pc;
  color: rgb(79, 79, 109);
  font-size: medium;
 }
li{
  padding-right: 4pc;
  color: rgb(79, 79, 109);
}




.search-container {
  text-align: center;
  margin: 20px;
  margin-top: -5px;
}

#search-input {
  padding: 3px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#search-button {
  padding: 5px 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #45a049;
}




#sarala button{
  margin-top: -6px;
  margin-left: -72px;
  height: 24px;
  width: 59px;
  color: rgb(210 223 223);
}





.modal2 {
    display: none;
    position: fixed;
    z-index: index 9999; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .modal-content2 img {
    width: 200px;
    height: auto;
    margin: 10px;
  }
  
  .close2 {
    color: white;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
  }
  





  .modal3 {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .modal-content3 video {
    width: 400px;
    height: auto;
    margin: 10px;
  }
  
  .close3 {
    color: white;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
  }









  .slideshow-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .slide {
    display: none;
  }
  
  .slide img {
  
    width: 80pc;
    height:34pc;
    

    
  }
  
  .slide.active {
    display: block;
  }
  


  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    
    margin-bottom: 11px;
    color: white;
}

.image-container img {
    flex: 1;
   width: 500px;
   border-radius: 107px;
}
.data-container {
    flex: 1;
    padding: 20px;
    background-color: rgb(3, 22, 27);
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}





.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
  
  margin-bottom: 20px;
}

.image-container1 img {
  flex: 1;
  width:  500px;
  border-radius: 107px;
 
}
.data-container1 {
  flex: 1;
  padding: 20px;
  background-color:whitesmoke;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}







.form-container {
  display: none;
  margin: 20px;
}
.data-containers {
  margin: 20px;
}
table {
  border-collapse:collapse ;
  width: 100%;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}